@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eShop</h1>
    <p class="lead">This is a demo application</p>
  
    <p><a href="https://github.com/Sunray1000/eShop" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    This is a basic computer supplies shop. It has customers, products, managers, and orders made by customers.<br/>
    It uses MVC 5.0 and Razor, Entity Framework Code first using the FluentAPI, Log4Net, Fluent Validation.      
</div>

<div style="border: 2px solid grey; border-radius: 6px; width: 400px; padding: 10px; margin: 10px">
    <menu1><a href="~/Customer/Index">Customers</a></menu1><br/>
    <menu1><a href="~/Product/Index">Products</a></menu1><br/>
</div>