@{
    ViewBag.Title = "Home Page";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <img src="../../Content/stuff.png" alt="Stuff! the name of the website."/>
            A demo application
        </h3>
    </div>
</div>


<div></div>

