

<h2>Problem @ViewBag.ProblemLocation</h2>

<p>A problem occured with the website, someone has been informed and we are working on it.</p>
<p>In the mean time try again, hopefully it was just a temporary glitch</p>

<p>@Html.ActionLink("Home", "Index", "Home");</p>
