@model eShop.DomainClasses.Customer

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Customer</h2>
<p>@Html.LabelFor(c => c.FirstName)</p>
<p>@Html.LabelFor(c=>c.LastName)</p>

